/.vagrant
/.idea/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
*.json
vms
*.log
*.sc
radu
a
rulz
checks
src/main/resources/scripts
scrap.sc
out
src/main/scala/org/change/v2/runners/Run.scala
*.output
/bin/
outputs/
.settings/
*.json
generated/
*.dot
*.dot.png

.DS_Store
._.DS_Store
.vagrant/

.classpath
.project
.settings/
.cache-main
.cache-tests
.gitignore.swp
nohup.out
.tmpBin/

credentials\.txt

code\.txt

fail\.txt

ok\.txt

instructionmap\.txt

stack-inputs/

generated\.out

*.xlsx

new 8

*.out

generated\.err

*.pyc

*.csv


stack-inputs/

eastwest-tapd66e3d2e-2f-compute1\.err

*.bak
