/.vagrant
/.idea/
/project/boot/
/project/plugins/project
target/
lib_managed/
src_managed/
test-output/
*.iml
*.json
vms
*.log
*.sc
radu
a
rulz
checks
src/main/resources/scripts
scrap.sc
out
src/main/scala/org/change/v2/runners/Run.scala
*.output
/bin/
outputs/
.settings/
*.json
.classpath
.project
.settings/
.cache-main
.cache-tests
.gitignore.swp
nohup.out

credentials\.txt

code\.txt

fail\.txt

ok\.txt
